/* 메뉴 바 */
ul {
  list-style-type: none;
  height: 70px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* 컨테이너  */
#container {
  width: 1400px;
  height: 580px;
  margin: 10px auto;
  padding: 20px;
  border: 10px solid #bcbcbc;
}

div.header_1 {
  width: 235px;
  height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 3px solid #bcbcbc;
}

div.header_2 {
  width: 235px;
  height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 3px solid #bcbcbc;
}

div.header_3 {
  width: 235px;
  height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 3px solid #bcbcbc;
}

div.header_right {
  width: 494px;
  height: 20px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 3px solid #bcbcbc;
}

div.production_line {
  width: 800px;
  height: 460px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  border: 1px solid #bcbcbc;
}

div.cup_stock {
  width: 247px;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}

div.product_stock {
  width: 247px;
  height: 50px;
  padding: 10px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}

div.total_production {
  width: 496px;
  height: 366px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}

div.total_production#charset {
  float: right;
}

div.comparison {
  width: 496px;
  height: 153px;
  padding: 20px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}

/* 차트 위치 */
#total_production_chart {
  float: right;
}

#comparison_chart {
  float: right;
  margin-right: 30px;
}

/* 공정 가동 */
.button1 {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.button1:hover {
  background-color: #3e8e41;
}

/* 가동 중지 */
.button2 {
  background-color: #f44336;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.button2:hover {
  background-color: #E50E0E;
}
