  section {
        float: left;
        width: 100%;
        margin-left: 15%;
        margin-right: 0px;
      }

      section article {
        margin: 20px;
        padding: 25px;
        background-color: white;
        height: 170px;
        width: 80%;
      }

      /* 변경 텝 */
      section ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      section li {
        float: left;
      }

      section li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      section li a:hover:not(.active) {
        background-color: #111;
      }


      /* content */
      #content {
        width: 90%;
        margin: 0 auto;
      }

      #content>#main_section {
        width: 750px;
        float: left;
      }

      /* article */
      #main_section>article.main_article {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid black;
      }

      /* 적용 버튼 */
      .button {
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }

      .button:hover span {
        padding-right: 25px;
      }

      .button:hover span:after {
        opacity: 1;
        right: 0;
      }