<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='management.css' ) }}">

  </head>

  <body>
    <ul>
      <li><a href="/"><img src={{url_for('static', filename="img/main.png") }} style="width:50px; height:50px;"></a></li>
      <li><a href="/management"><img src={{url_for('static', filename="img/management.png") }} style="width:50px; height:50px;"></a></li>
    </ul>
    <div id="container">
      <div class="header">
        SmartFactory
      </div>
      <div class="header_product" align="center">제품A</div>
      <div class="#">
        <div class="header_1">목표량</div>
        <div class="header_2">양품량</div>
        <div class="header_3">불량품량</div>
      </div>
      <div class="#">
        <div class="content_1">달성률</div>
        <div class="content_2">불량률</div>
        <div class="content_3">
          관리자
          <div align="right">
            <input type="button" class="#" value="호출" />
          </div>
        </div>
      </div>
      <div class="product_modify" align="center">생산품목 변경</div>
      <form method="get">
      <div>
        <div class="modify_1">목표량 변경: <input type="number" id="a" name="a" step="0.1" value="0">g</div>
        <div class="modify_2">생산품목 변경: <input type="text" id="b" name="b"></div>
        <div class="modify_3">오차률 변경: <input type="number" id="c" name="c" step="0.1" value="0">%</div>
      </div>
    
      <div align="right">
        <button type="submit" class="button"><span> 적 용 </span></button>
      </div>
      </form>
    </div>
  </body>

</html>
